<nav class="navbar navbar-expand-sm bg-dark bg-gradient">
  <a class="navbar-brand" href="">
    <i class="fa-solid fa-mask" style="margin-left: 25px; font-size:30px"></i>
  </a>
  <!-- Links -->
  <div class="collapse navbar-collapse justify-content-end" style="margin-right: 25px;">
  <ul class="navbar-nav" >
    <li class="nav-item">
      <a class="nav-link" href="">Casapuerta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cozas">Cozas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="quienes">No somo naide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contacto">Dime argo...</a>
    </li>
  </ul>
  </div>

</nav>
<div class="contenido" style="background-image: linear-gradient(rgb(1 20 25 / 72%), rgba(27, 137, 247, 0.3)),
url(https://static.vecteezy.com/system/resources/previews/000/158/519/original/free-carnival-pattern-vectors.jpg);
background-size: cover;">
  <router-outlet></router-outlet>
</div>
<div class="footer bg-dark bg-gradient">
  <div class="footer-links">
    <a href="https://github.com/jcalerofm" target="_blank"><i class="fab fa-github" style="color: white"></i></a>
    <a href="#"><i class="fab fa-instagram" style="color: white"></i></a>
    <a href="#"><i class="fab fa-facebook" style="color: white"></i></a>
    <a href="#"><i class="fab fa-twitter" style="color: white"></i></a>
    <a href="#"><i class="fab fa-linkedin" style="color: white"></i></a>
  </div>
  <div class="footer-copyright" style="color: white">
    Peaso footer hecho con <i class="fas fa-heart"></i> por Calero
  </div>
</div>
