<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Casapuerta</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="cozas">Cozas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="quienes">No somo naide</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contacto">Dime argo...</a>
    </li>
  </ul>

</nav>
<router-outlet></router-outlet>

